@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>EstágioMVC</h1>
            <p class="lead">EstágioMVC é um site que possibilita ter um controle dos seus cursos, trainees e historicos, criando um ambiente com várias ferramentas</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Cursos</h2>
                <p>
                    Tenha total controle de seus cursos, com ferramentas que possibilita: <br> <b> Adicionar, Remover, Exibir e Alterar </b> <br> os cursos de sua propriedade.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Trainees</h2>
                <p>Tenha total controle de seus estagiários, com ferramentas que possibilita: <br> <b> Adicionar, Remover, Exibir e Alterar </b> <br> os estagiários de sua empresa.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Historicos</h2>
                <p>Tenha total controle dos historicos pertinentes ao estagiários, com ferramentas que possibilita: <br> <b> Adicionar, Remover, Exibir e Alterar </b> <br> os historico das atividades realizadas pelos trainees.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</section>